{{#extends 'base'}}

{{#block 'content'}}

<h3>Search</h3>
<form method="GET">
   {{{form}}}
    <input type="submit" value="Search" class="mb-3 mt-3 btn btn-primary" />
</form>

<h3>Orders List</h3>
<table class="table">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Email</th>
            <th>Display Name</th>
            <th>Satus</th>
            <th>Items</th>
            <th>Total</th>
            <th>Payment Method</th>
            <th>Date, Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
            <tr>
                 <td>
                    {{this.id}}
                </td>
                <td>
                    {{this.user.email}}
                </td>
                <td>
                    {{this.user.display_name}}
                </td>
                <td>
                    <a href="/orders/{{this.id}}/update" class="btn btn-primary btn-sm">{{this.status}}</a>
                </td>
                <td>
                    <ul>
                        {{#each this.order_items}}
                            <li>{{this.game.title}} X {{this.quantity}} = ${{this.sub_total}}</li>
                        {{/each}}
                    </ul>
                </td>
                <td>
                    ${{this.total}}
                </td>
                <td>
                    {{this.payment_method}}
                </td>
                <td>
                    {{this.date}}
                </td>
                <td>
                    <a href="/orders/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
<a href="/orders/user-orders" class="btn btn-danger btn-sm">Your Orders</a>
{{/block}}

{{/extends}}