{{#extends 'base'}}

{{#block 'content'}}

<table class="table">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Email</th>
            <th>Display Name</th>
            <th>Satus</th>
            <th>Items</th>
            <th>Total</th>
            <th>Payment Method</th>
            <th>Date, Time</th>
        </tr>
    </thead>
    <tbody>
        {{#if user_orders}}
            {{#each user_orders}}
            <tr>
                <td>
                    {{this.id}}
                </td>
                <td>
                    {{this.user.email}}
                </td>
                <td>
                    {{this.user.display_name}}
                </td>
                <td>
                    {{this.status}}
                </td>
                <td>
                    <ul>
                        {{#each this.order_items}}
                            <li>{{this.game.title}} X {{this.quantity}} = ${{this.sub_total}}</li>
                        {{/each}}
                    </ul>
                </td>
                <td>
                    ${{this.total}}
                </td>
                <td>
                    {{this.payment_method}}
                </td>
                <td>
                    {{this.date}}
                </td>
            </tr>
            {{/each}}
        {{/if}}
    </tbody>
</table>
{{/block}}

{{/extends}}