{{#extends 'base'}}

{{#block 'content'}}

    <ul>
        <li>ID: {{game.id}}</li>
        <li>Title: {{game.title}}</li>
        <li>Cost: {{game.cost}}</li>
        <li>Discount: {{game.discount}}</li>
        <li>Description: {{game.description}}</li>
        <li>Recommended Requirement: {{game.recommended_requirement}}</li>
        <li>Minimum Requirement: {{game.minimum_requirement}}</li>
        <li>Banner Image: <img src="{{game.banner_image}}" class="img-fluid"/></li>
        <li>
            <ul>
                {{#each game.images}}
                <li><img src="{{this.url}}" class="img-fluid"/></li>
                {{/each}}
            </ul>        
        </li>
        <li>Company Name: {{game.company_name}}</li>
        <li>Added Date: {{game.added_date}}</li>
        <li>Category: {{game.category.name}}</li>
        <li>Tags:
            <ul>
                {{#each game.content_tags}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </li>
        <li>Platforms:
            <ul>
                {{#each game.platforms}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>

           
    <a href="/list-games/{{game.id}}/update" class="btn btn-primary btn-sm">Update</a>
    <a href="/list-games/{{game.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
    <a href="/list-games" class="btn btn-danger btn-sm">Back</a>


{{/block}}

{{/extends}}