{{#extends 'base'}}

{{#block 'content'}}

    <div class="mx-auto d-flex flex-row justify-content-center">
        <a href="/list-games/{{game.id}}/update" class="btn btn-primary btn-sm">Update</a>
        <a href="/list-games/{{game.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
        <a href="/list-games" class="btn btn-danger btn-sm">Back</a>
    </div>

    
    <div class="card mx-auto" style="width: 23rem;">
    <img src="{{game.banner_image}}" class="card-img-top" alt="Banner Image">
    <div class="card-body">
        <h5 class="card-title">{{game.title}}</h5>
        <p class="card-text">{{game.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cost: ${{game.cost}}</li>
        <li class="list-group-item">Discount: {{game.discount}}%</li>
        <li class="list-group-item">Company Name: {{game.company_name}}</li>
        <li class="list-group-item">Category: {{game.category.name}}</li>
        <li class="list-group-item">Released Date: {{game.released_date}}</li>
        <li class="list-group-item">Added Date: {{game.added_date}}</li>
        <li class="list-group-item">Tags:
            <ul>
                {{#each game.content_tags}}
                <li>{{this.content_name}}</li>
                {{/each}}
            </ul>
        </li>
        <li class="list-group-item">Platforms:
            <ul>
                {{#each game.platforms}}
                <li>{{this.platform_name}}</li>
                {{/each}}
            </ul>
        </li>
        <li class="list-group-item"> Reviews:
            <ul>
                {{#each game.reviews}}
                <li>{{this.review}}</li>
                {{/each}}
            </ul>        
        </li>
    </ul>
    </div>

    <div class="card mx-auto mt-3" >
        <div class="card-body">
            <h5 class="card-title">Recommended Requirement:</h5>
            <p class="card-text">{{game.recommended_requirement}}</p>
        </div>
    </div>

    <div class="card mx-auto mt-3">
        <div class="card-body">
            <h5 class="card-title">Minimum Requirement:</h5>
            <p class="card-text">{{game.minimum_requirement}}</p>
        </div>
    </div>


    {{#each game.images}}
    <div class="card mx-auto mt-2" >
        <img src="{{this.url}}" class="img-fluid"/>
    </div>
    {{/each}}
     
        
        
        
        
        
     


{{/block}}

{{/extends}}