{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Banner Image</th>
            <th>Company Name</th>
            <th>Added Date</th>
        </tr>

    </thead>
    <tbody>
        {{#each games}}
            <tr>
                <td>
                    {{this.title}}
                </td>
                <td>
                    <img src="{{this.banner_image}}" class="img-fluid"/> 
                </td>
                <td>
                    {{this.company_name}}
                </td>
                <td>
                    {{this.added_date}}
                </td>
                <td>
                <a href="/list-games/{{this.id}}/details" class="btn btn-primary btn-sm">Details</a>
            </td>
            </tr>
        {{/each}}
    </tbody>
</table>
<a href="/list-games/add" class="btn btn-danger btn-sm">Add</a>
{{/block}}

{{/extends}}