{{#extends 'base'}}

{{#block 'content'}}
<h1>Update a Game: {{game.title}}</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}"/>
    {{{form}}}
    <div>
        <div class="mt-3">
        Banner Image:
        {{!-- {{#if game.banner_image_thumbnail}} --}}
            <img src="{{game.banner_image_thumbnail}}" id="uploaded_image_banner" />
            <a href="#" id="upload_widget_banner_image" class="btn btn-primary">Upload Banner</a>
        {{!-- {{/if}} --}}
        </div>
        <div class="mt-3">
        Image 1:
        {{!-- {{#if game.url_1_thumbnail}} --}}
            <img src="" id="uploaded_image_1" />
            <a href="#" id="upload_widget_image_1" class="btn btn-primary">Upload Image 1</a>
        {{!-- {{/if}} --}}
        </div>
        <div class="mt-3">
        Image 2:
        {{!-- {{#if game.url_2_thumbnail}} --}}
            <img src="" id="uploaded_image_2"/>
            <a href="#" id="upload_widget_image_2" class="btn btn-primary">Upload Image 2</a>
        {{!-- {{/if}} --}}
        </div>
        <div class="mt-3">
        Image 3:
        {{!-- {{#if game.url_3_thumbnail}} --}}
            <img src="" id="uploaded_image_3"/>
            <a href="#" id="upload_widget_image_3" class="btn btn-primary">Upload Image 3</a>
        {{!-- {{/if}} --}}
        </div>
        <div class="mt-3">
        Image 4:
        {{!-- {{#if game.url_4_thumbnail}} --}}
            <img src="" id="uploaded_image_4"/>
            <a href="#" id="upload_widget_image_4" class="btn btn-primary">Upload Image 4</a>
        {{!-- {{/if}} --}}
        </div>
        <div class="mt-3">
        Image 5:
        {{!-- {{#if game.url_5_thumbnail}} --}}
            <img src="" id="uploaded_image_5"/>
            <a href="#" id="upload_widget_image_5" class="btn btn-primary">Upload Image 5</a> 
        {{!-- {{/if}} --}}
        </div>
    </div>
    <div class="mt-3">
        <input type="submit" value="Update This Game" class="btn btn-primary"/>
    </div>
</form>
{{/block}}

{{/extends}}



{{#block js}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script>
function signature(callback, signature_params){
    console.log(signature_params)
    axios.get('/cldnry/cldnry-sign',{params:{signature_params}}).then(function(response){callback(response.data)})
}

var myWidget = (url, url_thumbnail, uploaded) => { 
    



    return cloudinary.createUploadWidget({
        cloudName: '{{name}}',
        apiKey: '{{api_key}}',
        uploadPreset: '{{preset}}',
        uploadSignature: signature
    }, (error, result) => {
        if (!error && result && result.event === "success") {
        document.querySelector(url).value = result.info.url;
        document.querySelector(url_thumbnail).value = result.info.thumbnail_url;
        document.querySelector(uploaded).src = result.info.thumbnail_url;
        document.querySelector(uploaded).style.display = 'inline';
        }
    })

}

document.getElementById("upload_widget_banner_image").addEventListener("click", () => {myWidget('#id_banner_image', '#id_banner_image_thumbnail','#uploaded_image_banner').open()}, false);
document.getElementById("upload_widget_image_1").addEventListener("click", () => {myWidget('#id_url_1','#id_url_1_thumbnail','#uploaded_image_1').open()}, false);
document.getElementById("upload_widget_image_2").addEventListener("click", () => {myWidget('#id_url_2','#id_url_2_thumbnail','#uploaded_image_2').open()}, false);
document.getElementById("upload_widget_image_3").addEventListener("click", () => {myWidget('#id_url_3','#id_url_3_thumbnail','#uploaded_image_3').open()}, false);
document.getElementById("upload_widget_image_4").addEventListener("click", () => {myWidget('#id_url_4','#id_url_4_thumbnail','#uploaded_image_4').open()}, false);
document.getElementById("upload_widget_image_5").addEventListener("click", () => {myWidget('#id_url_5','#id_url_5_thumbnail','#uploaded_image_5').open()}, false);

</script>


{{/block}}